<app-header2></app-header2>
<main id="main" class="main">
    <div class="row" d-flex justify-content-left>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-2.4">Identifiers</th>
                        <th class="col-2.4">Plan &amp; Status</th>
                        <th class="col-2.4">SA Details</th>
                        <th class="col-2.4">Premium Details</th>
                        <th class="col-2.4">Sales Details</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 1st row -->
                    <tr>
                        <td>
                            <div class="row">
                              <div class="col-6" >
                                <div class="input-group">
                                  <div class="input-group-text">Policy No</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="input-group">
                                  <input type="text" class="form-control border-0" id="policyNo" placeholder="Policy No">
                                </div>
                              </div>
                            </div>
                          </td>

                      

                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Customer Type</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="customerType" placeholder="HNI/NRI/MWP/Etc">
                                  </div>
                                </div>
                           </div>
        
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Sum Assured</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="sumAssured" placeholder="Sum Assured">
                                  </div>
                                </div>
                           </div>
                
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Sum Assured</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="premiumAmt" placeholder="">
                                  </div>
                                </div>
                           </div>
                           
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Branch</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="branch" placeholder="branch">
                                  </div>
                                </div>
                           </div>
                          
                        </td>
                    </tr>
                      
                    
                    <!-- 1st row end -->

                    <!-- 2nd row start -->
                    
                    <tr>
                        <td>
                            <div class="row">
                              <div class="col-6" >
                                <div class="input-group">
                                  <div class="input-group-text">App No</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="input-group">
                                  <input type="text" class="form-control border-0"  id="appNo" placeholder="">
                                </div>
                              </div>
                            </div>
                          </td>

                      

                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Plan name(ULIP/Non ULIP)</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="Planname" placeholder="">
                                  </div>
                                </div>
                           </div>
        
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">PT</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="pt" placeholder="">
                                  </div>
                                </div>
                           </div>
                
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">PPT</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="ppt" placeholder="">
                                  </div>
                                </div>
                           </div>
                           
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Channel</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="Channel" placeholder="">
                                  </div>
                                </div>
                           </div>
                          
                        </td>
                    </tr>
                    
                    <!-- 2nd row end -->
                    <!-- 3rd row start -->
                    <tr>
                        <td>
                            <div class="row">
                              <div class="col-6" >
                                <div class="input-group">
                                  <div class="input-group-text">La Name</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="input-group">
                                  <input type="text" class="form-control border-0"  id="laName" placeholder="">
                                </div>
                              </div>
                            </div>
                          </td>

                      

                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Policy Status</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="policyStatus" placeholder="">
                                  </div>
                                </div>
                           </div>
        
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">RCD</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="rcd" placeholder="">
                                  </div>
                                </div>
                           </div>
                
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Premium Amt</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="premiumamount" placeholder="">
                                  </div>
                                </div>
                           </div>
                           
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Agent Name</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="agentname" placeholder="">
                                  </div>
                                </div>
                           </div>
                          
                        </td>
                    </tr>

                    
                    <!-- 3rd row end -->
                    <!-- 4 row start -->
                    <tr>
                        <td>
                            <div class="row">
                              <div class="col-6" >
                                <div class="input-group">
                                  <div class="input-group-text">Po Name</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="input-group">
                                  <input type="text" class="form-control border-0"  id="poname" placeholder="">
                                </div>
                              </div>
                            </div>
                          </td>

                      

                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Premium Status</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="premiumStatus" placeholder="">
                                  </div>
                                </div>
                           </div>
        
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6 ">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Assignment</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0" id="assignment" placeholder="">
                                  </div>
                                </div>
                           </div>
                
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group-text border-0">Mode</div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <input type="text" class="form-control border-0"  id="mode" placeholder="">
                                  </div>
                                </div>
                           </div>
                           
                        </td>
                        <td>
                            <div class="row">
                              <div class="col-6">
                                <div class="input-group">
                                  <div class="input-group-text border-0" for="flexSwitchCheckDefault">Orphan Flag</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="input-group">
                                  <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>                        
                       </tr>
                    <!-- 4 row end -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row col-md-12" style="border: 1px solid;">
        <div class="table-responsive col-md-9">
        <table class="table">
        <thead class="1sthead style=background-color: #6665622b" style="background-color: #fff3cdf0;">
                    <tr>
                        <th class="col-1" style="text-align: center"></th>
                        <th class="col-2" style="text-align: center">
                            <select class="form-select" aria-label="Premium type">
                                <option selected>Call Type</option>
                                <option value=>Local</option>
                                <option value=>Outstation</option>
                                <option value=>Same Bank</option>
                            </select>
                        </th>

                        <th class="col-3">Renewal</th>
                        <th class="col-1" style=" text-align: center">
                            <select class="form-select" aria-label="Product Name">
                                <option selected>Sub Type</option>
                                <option value="1">e-Wealth Royale</option>
                                <option value="2">Elite Assure Plus</option>
                                <option value="2">Century Plus</option>
                                <option value="2">Wealth Creator</option>
                                
                              </select></th>
                        <th class="col-2" style=" text-align: center">Renewal Info</th>
                        <th class="col-1" style="text-align: center"><a href="">DMS</a></th>
                        <th class="col-2" style="text-align: center;font-size:12px">
                            <a href=""><span>Service Request</span><br></a>
                            <a href=""> <span>Client Id Details</span><br></a>
                            <a href=""><span>Payout Details</span></a>
                        </th>
                    </tr>
                </thead>
            
            </table>

            <table class="table table-responsive table-bordered" style="text-align: center;">
                <thead>
                    <tr>
                        <th class="col-1" style="font-size:15px">Last 5 open tickets</th>
                        <th class="col-1">Ticket No</th>
                        <th class="col-1">Call Type</th>
                        <th class="col-1">Sub Type</th>
                        <th class="col-1">Request Date</th>
                        <th class="col-1">Status</th>
                        <th class="col-1">Q/R/C</th>
                        <th class="col-1">TAT</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 1st row -->

                    <!--  -->
                    <tr class="col-1">
                        <td></td>
                        <td>Transaction 0</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="col-1">
                        <td></td>
                        <td>Transaction 1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="col-1">
                        <td></td>
                        <td>Transaction 2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="col-1">
                        <td></td>
                        <td>Transaction 3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="col-1">
                        <td></td>
                        <td>Transaction 4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--  -->
                </tbody>
            </table>
        </div>
        
        <div class="row col-md-3"  style="background-color:#fff3cdf0;border: 1px solid; font-size:14px">
            
                <div class="col-md-12 ">
                  <table>
                    <tr>
                      <td><strong>Nps Score:</strong></td>
                      <td> 752 </td>
                    </tr>
                    <tr>
                      <td><strong>Customer Sentiment:</strong></td>
                      <td> Positive </td>
                    </tr>
                  <p style="background-color: #ffc107;margin-bottom:0px;"><strong>Near Future Event:</strong></p>
                  <tr>
                    <td><strong>PO/LA DOB:</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>Renewal due date/T-30 day Flg:</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>Policy payout:</strong></td>
                    <td>SB</td>
                  </tr>
                  <tr>
                    <td><strong>Loan (If active):</strong></td>
                    <td>Loan Details</td>
                  </tr>

                 <p style ="background-color: #ffc107;margin-bottom:0px;"><strong>Customer Profile Details</strong></p>
                    <tr>
                      <td><strong>*Customer Profile</strong></td>
                      <td>50%</td>
                    </tr>
                    <tr>
                        <td><strong>KYC</strong></td>
                        <td>DONE</td>
                      </tr>
                      <tr>
                        <td><strong>PAN Status</strong></td>
                        <td>DONE</td>
                      </tr>
                      <tr>
                        <td><strong>PAN Aadhaar seeding status </strong></td>
                        <td>DONE</td>
                      </tr>

                      <tr>
                        <td><strong>Contact details - Mobile  </strong></td>
                        <td>Non-contact</td>
                      </tr>
                      <tr>
                        <td><strong>Contact details - Email</strong></td>
                        <td>Non-contact</td>
                      </tr>
                      <tr>
                        <td><strong>Update bank account</strong></td>
                        <td>IMPS pass / fail / No bank A/C</td>
                      </tr>
                      <tr>
                        <td><strong>Update Auto pay</strong></td>
                        <td>No</td>
                      </tr>
                      <p style ="background-color: #ffc107;margin-bottom:0px;"><strong>*Register Details</strong></p>
                      <tr>
                        <td><strong>Registered on Portal</strong></td>
                        <td>YES</td>
                      </tr>
                      <tr>
                        <td><strong>Registered on mobile app</strong></td>
                        <td>YES</td>
                       
                      </tr>
                      <tr>
                        <td><strong> Last login date & time (P/M)</strong></td>
                        <td>Details</td>
                      </tr>
                </table>
               
                </div>   
             
        </div>

    </div>

</main>