<app-header2></app-header2>

<main id="main" class="main">
<div class="container-fluid">
    <div class="row slider">
      <!-- <div class="col-12 p-0">
        <img src="assets/images/body.png" class="img-fluid" alt="Full-width Image">
      </div> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <!-- <img src="assets/images/slider1.jpg" class="d-block w-100" alt="..."> -->
            
          
            <ul class="list">
              <h1>New Features</h1>
              <li class="list">Now you can search policy/customer mobile in title bar</li>
              <li class="list">Menu Items are available in side menu and you can filter for the menu item</li>
            </ul>
          </div>
          <div class="carousel-item">
            <!-- <img src="assets/images/slider2.jpg" class="d-block w-100" alt="..."> -->
            
            <ul class="list">
              <h1 >New Announcements</h1>
              <li class="list">New Year campaign </li>
              <li class="list">CSR Initiative launched</li>
            </ul>
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
 
  </div>
  

  <div class="container-fluid">
    <div class="row slider">
      <!-- <div class="col-12 p-0">
        <img src="assets/images/body.png" class="img-fluid" alt="Full-width Image">
      </div> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <!-- <img src="assets/images/slider1.jpg" class="d-block w-100" alt="..."> -->
            
          
            <ul class="list">
              <h1>New Features</h1>
              <li class="list">Now you can search policy/customer mobile in title bar</li>
              <li class="list">Menu Items are available in side menu and you can filter for the menu item</li>
            </ul>
          </div>
          <div class="carousel-item">
            <!-- <img src="assets/images/slider2.jpg" class="d-block w-100" alt="..."> -->
            
            <ul class="list">
              <h1 >New Announcements</h1>
              <li class="list">New Year campaign </li>
              <li class="list">CSR Initiative launched</li>
            </ul>
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
 
  </div>

  <div class="container-fluid">
    <div class="row slider">
      <!-- <div class="col-12 p-0">
        <img src="assets/images/body.png" class="img-fluid" alt="Full-width Image">
      </div> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <!-- <img src="assets/images/slider1.jpg" class="d-block w-100" alt="..."> -->
            
          
            <ul class="list">
              <h1>New Features</h1>
              <li class="list">Now you can search policy/customer mobile in title bar</li>
              <li class="list">Menu Items are available in side menu and you can filter for the menu item</li>
            </ul>
          </div>
          <div class="carousel-item">
            <!-- <img src="assets/images/slider2.jpg" class="d-block w-100" alt="..."> -->
            
            <ul class="list">
              <h1 >New Announcements</h1>
              <li class="list">New Year campaign </li>
              <li class="list">CSR Initiative launched</li>
            </ul>
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
 
  </div>
  <div class="container-fluid">
    <div class="row slider">
      <!-- <div class="col-12 p-0">
        <img src="assets/images/body.png" class="img-fluid" alt="Full-width Image">
      </div> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <!-- <img src="assets/images/slider1.jpg" class="d-block w-100" alt="..."> -->
            
          
            <ul class="list">
              <h1>New Features</h1>
              <li class="list">Now you can search policy/customer mobile in title bar</li>
              <li class="list">Menu Items are available in side menu and you can filter for the menu item</li>
            </ul>
          </div>
          <div class="carousel-item">
            <!-- <img src="assets/images/slider2.jpg" class="d-block w-100" alt="..."> -->
            
            <ul class="list">
              <h1 >New Announcements</h1>
              <li class="list">New Year campaign </li>
              <li class="list">CSR Initiative launched</li>
            </ul>
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
 
  </div>
  <div class="container-fluid">
    <div class="row slider">
      <!-- <div class="col-12 p-0">
        <img src="assets/images/body.png" class="img-fluid" alt="Full-width Image">
      </div> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <!-- <img src="assets/images/slider1.jpg" class="d-block w-100" alt="..."> -->
            
          
            <ul class="list">
              <h1>New Features</h1>
              <li class="list">Now you can search policy/customer mobile in title bar</li>
              <li class="list">Menu Items are available in side menu and you can filter for the menu item</li>
            </ul>
          </div>
          <div class="carousel-item">
            <!-- <img src="assets/images/slider2.jpg" class="d-block w-100" alt="..."> -->
            
            <ul class="list">
              <h1 >New Announcements</h1>
              <li class="list">New Year campaign </li>
              <li class="list">CSR Initiative launched</li>
            </ul>
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
 
  </div>
</main>